body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #A27B5C;
}
/*Header*/
h1 {
    text-align: center;
    color: #333;
    font-family: 'Arial', sans-serif;
    font-size: 2.5em;
    margin-top: 0;
    padding-top: 20px;
    background-color:#A27B5C;
    color: #2C3930;
}

.main{
    display: flex;
    justify-content: center;
    align-items: center;;
    background-color: #A27B5C;
    flex-direction: row;
    height: 80vh;
}
canvas {
    border: 5px solid #DCD7C9;
    background-color: #A27B5C;
}
.words{
    display: flex;
    align-items: center;
    height: 80vh;
    background-color: #A27B5C;
    flex-direction: column;
    color: #2C3930;
    justify-content: space-evenly;
}
h3{
    font-size: 2em;
    margin: 0;
    padding: 0;
    text-align: center;
}
.timer{
    font-size: 2em;
    margin: 0;
    padding: 0;
    text-align: center;
    box-shadow: 0 0 10px 0 #DCD7C9;
}
.words hr{
    width: 75%;
    margin: 0;
    padding: 0;
    color:#DCD7C9;
}
.words h2{
    font-size: 2em;
    margin: 0;
    padding: 0;
    text-align: center;
}
.words p{
    font-size: 1.5em;
    margin: 0;
    padding: 0;
    text-align: center;
}